# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Java builds,results
.gradle
build
out
**/src/main/generated

# IntelliJ
.idea
*.iml

# restate
restate-data

# NodeJs
node_modules

